body {
    font-family: 'Patrick Hand', cursive;
    background-image: url("world-map.jpg");
    color: white;
}

li {
    padding: 1.2% 3.5%;
    color: brown;
    display: inline-block;
    cursor: default;
}

#diff {
    color: blue;
    margin: 5% 0%;
}

label {
    color: white;
}

.header img {
    height: 200px;
    width: 100%;
}

li:hover {
    font-weight: bold;
    cursor: default;
}

.selected {
    background-color: green;
}

.questions {
    margin-bottom: 20%;
}

.done-button {
    margin: 7%;
}

.actually_correct {
    background-image: url("carmen.gif");
    height: 70px;
    width: 70px;
    color: white;
}